section#certificate {
    display: flex;
    background-color: #303030;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 5px;
    text-align: center;
}

section#certificate > header {
    height: 50px;
}

section#certificate > header > ion-icon {
    font-size: 3.5rem;
    color: var(--vsc-color);
}

section#certificate > main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

section#certificate > main > .techs {
    font-size: 2.2rem;
}

section#certificate > main > .techs > span {
    margin: 0 10px;
}

section#certificate > main h2 {
    margin: auto 0;
}

section#certificate > a {
    color: #fff;
    display: flex;
    margin: 0;
    text-decoration: none;
    font-weight: 600;
    height: 30px;
}

section#certificate > a:hover {
    color: var(--vsc-color)
}

section#certificate > p {
    margin: 5px 0;
    font-size: 1.7rem;
    padding: 0;
    height: 30px;
}

section#certificate >  span {
    color: var(--vsc-color);
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    section#certificate > main > .techs > span {
        font-size: 1.5rem;
    }

    section#certificate > p {
        font-size: 1.2rem;
    }

    section#certificate > a,
    section#certificate > span {
        font-size: 1rem;
    }
}
