#vertical-nav {
    background-color: var(--vsc-color);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

#vertical-nav > button {
    padding: 10px 0;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 50px;
}

#vertical-nav > button.active,
#vertical-nav > button:hover {
    color: #090909;
}