#projects > article > #project {
    display: flex;
    background-color: #303030;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 5px;
    text-align: center;
}

#projects > article > #project > header {
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
}

#projects > article > #project > header > span,
#projects > article > #project > header > a {
    color: #fff;
}

#projects > article > #project > strong {
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.75rem;
}

#projects > article > #project > p {
    height: calc(100% - 150px);
    width: 100%;
    display: flex;
    font-size: 1.05rem;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}

#projects > article > #project > #tools {
    font-size: 2.25rem;
}

#projects > article > #project > #tools > span {
    margin: 0 10px;
}