#projects {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top: 2px solid #303030;
    padding: 10px 75px;
}

#projects > header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
}

#projects > header > h1 {
    font-size: 4rem;
    padding: 0;
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 2;    
}

#projects > header > h1 > b {
    color: var(--vsc-color)
}

#projects > header > h1 > span {
    font-size: 7rem;
    font-weight: 600;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    transform: translate(-70px, -25px);
    z-index: 1;
    opacity: 0.1;
}

#projects > article {
    height: calc(100% - 250px);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media screen and (max-width: 1366px) {
    #projects > article {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1100px) {

    #projects {
        padding: 10px 75px;
    }

    #projects > header {
        height: 100px;
    }

    #projects > header > h1 {
        font-size: 3rem;
    }

    #projects > header > h1 > span {
        font-size: 5rem;
        transform: translate(-40px, -20px);
    }

    #projects > article {
        grid-template-columns: repeat(2, 1fr);
        height: calc(100% - 100px);
    }
}

@media screen and (max-width: 1024px) {
    #projects {
        padding: 10px;
    }
}

@media screen and (max-width: 767px) {
    #projects > article {
        grid-template-columns: repeat(1, 1fr);
    }
}