#about-me {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#about-me > header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
}

#about-me > header > h1 {
    font-size: 4rem;
    padding: 0;
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 2;
}

#about-me > header > h1 > b {
    color: var(--vsc-color)
}

#about-me > header > h1 > span {
    font-size: 7rem;
    font-weight: 600;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    transform: translate(-50px, -25px);
    z-index: 1;
    opacity: 0.1;
}

#about-me > article {
    height: calc(100% - 250px);
    display: flex;
}

#about-me > article:first-child {
    width: 500px;
}

#about-me > article:last-child {
    width: calc(100% - 500px);
}

#about-me > article > #image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 25px;
}

#about-me > article > #image-wrapper > img {
    height: 500px;
    width: 450px;
    border-radius: 15px;
}

#about-me > article > #datas-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 25px;
    flex-direction: column;
}

#about-me > article > #datas-wrapper > h3 {
    width: 100%;
    color: #fff;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#about-me > article > #datas-wrapper > h3 > p {
    margin: 0;
    padding: 0;
}

#about-me > article > #datas-wrapper > h3 > p > b {
    color: var(--vsc-color);
}

#about-me > article > #datas-wrapper > h3 > span {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--vsc-color);
}

#about-me > article > #datas-wrapper > p {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 1px;
}

#about-me > article > #datas-wrapper > #infos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    color: #fff;
    margin: 10px 0;
}

#about-me > article > #datas-wrapper > #infos-container > .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    font-size: 1.2rem;
    margin: 25px 0;
}

#about-me > article > #datas-wrapper > #infos-container > .info > strong {
    color: var(--vsc-color);
}

#about-me > article > #datas-wrapper > #infos-container > .info > p {
    margin: 0;
}

#about-me > article > #datas-wrapper > a {
    background-color: var(--vsc-color);
    color: #fff;
    border-radius: 15px;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    text-decoration: none;
}

@media screen and (max-width: 1366px) {
    #about-me > article > #datas-wrapper {
        padding: 0;
    }

    #about-me > article > #image-wrapper > img {
        height: 400px;
        width: 350px;
    }

    #about-me > article > #datas-wrapper > h3 {
        font-size: 1.5rem;
    }

    #about-me > article > #datas-wrapper > h3 > span {
        font-size: 3rem;
    }

    #about-me > article > #datas-wrapper > p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1023px) {
    #about-me {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        min-height: auto;
    }

    #about-me > header {
        height: 60px;
    }

    #about-me > header > h1 {
        font-size: 2rem;
    }

    #about-me > header > h1 > span {
        font-size: 3.5rem;
        transform: translate(-30px, -15px);
    }

    #about-me > article {
        min-width: 100%;
    }

    #about-me > #img-article {
        height: 250px;
    }

    #about-me > article > #image-wrapper {
        width: 100%;
        height: 250px;
    }

    #about-me > #datas-article {
        height: calc(100% - 310px);
        padding: 10px 0;
    }

    #about-me > article > section {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #about-me > article > #image-wrapper > img {
        height: 250px;
        width: 215px;
        margin: 0 auto;
    }

    #about-me > article > #datas-wrapper > p {
        padding: 0 15px;
    }

    #about-me > article > #datas-wrapper > a {
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {

    #about-me > article > #datas-wrapper > #infos-container {
        flex-direction: column;
    }

    #about-me > article > #datas-wrapper > #infos-container > .info {
        width: 100%;
    }
}